/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CELLRANGER_COUNT {
        ext.args = "--create-bam true"
        ext.prefix = "" 
    }

    withName: SAMTOOLS_VIEW_unmapped {
        cpus = 8
        ext.args = "--output-fmt bam -f 4 "
        ext.prefix = "" 
    }

    withName: SAMTOOLS_VIEW_larry {
        cpus = 8
        ext.args = "--output-fmt bam"
        ext.args2 = "GFP_LARRY"
        ext.prefix = "" 
    }

    withName: SAMTOOLS_MERGE {
        cpus = 8
        ext.args = ""
        ext.prefix = "" 
    }

    withName: SAMTOOLS_SORT {
        cpus = 8
        ext.args = "-n"
        ext.prefix = "" 
    }

    withName: BAMTOFASTQ10X {
        cpus = 8
        ext.args = ""
        ext.prefix = "" 
    }

    withName: CAT_FASTQ_1 {
        ext.args = ""
        ext.prefix = "" 
    }
    

    withName: CUTADAPT_remove_adapt {
        ext.args = "-g TTGCTAGGAGAGACCATATG...ATGTCTGGATCCGATATCGC \
                    --discard-untrimmed \
                    --pair-filter=both"
        ext.prefix = "cutadapt_ra" 
    }

    withName: CUTADAPT_valid_larry {
        ext.args = "-g 'NNNNTGNNNNCANNNNACNNNNGANNNNGTNNNNAGNNNN;min_overlap=36' \
                    --discard-untrimmed \
                    --action=retain \
                    --pair-filter=both"
        ext.prefix = "cutadapt_vl" 
    }

    //Be careful this should be single end sequences not paired-end sequences.
    withName: CUTADAPT_cut_umi {
        ext.args = "-l 28"
        ext.prefix = "cutadapt_cu"
    }

    withName: CUTADAPT_len_filter {
        ext.args = "--pair-filter=any \
                    --minimum-length 40:28 \
                    --maximum-length 40:28"
        ext.prefix = "cutadapt_lf"
    }

    withName: GUNZIP {
        ext.args = ""
        ext.prefix = ""
    }

    withName: CAT_CAT {
        ext.args = ""
        ext.prefix = ""
    }

    withName: UNIQUE {
        ext.args = ""
        ext.prefix = ""
    }

    withName: UMITOOLS_EXTRACT {
        ext.args = "--extract-method=regex \
		            --bc-pattern='^(?P<cell_1>.{1,16})(?P<umi_1>.{1,12})'"
        ext.prefix = ""
    }

    withName: CAT_FASTQ_2 {
        ext.args = ""
        ext.prefix = "" 
    }

    withName: GATHER_BARCODE {
        container = 'docker://depot001/larry-python-script-2:25072024'
        ext.args = ""
        ext.prefix = ""
        publishDir = [
            path: { "${params.outdir}/final_results" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    }
    
}
